/* https://github.com/josephgutierrez/connect-four */
/* font-family: 'Julius Sans One', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive; */
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --cell-size: 80px;
  --mark-size: calc(var(--cell-size) * .75);
}

/********* NAVBAR *********/
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  width: 100%;
  padding: 0.75em;
  box-shadow: 0 0.25em 0.3125em rgba(0, 0, 0, 0.3);
}

.navbar-text {
  font-size: 2.25em;
  color: #1c1c1c;
}

.navbar-text.oliver {
  position: absolute;
  font-size: 1em;
  color: #1c1c1c;
  left: 2%;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 0.5em;
  position: absolute;
  right: 2%;
}

img {
  width: 50px;
  opacity: 0.5;
}

/* img:hover {
  opacity: 1;
} */
img.selected {
  opacity: 1;
}

#muteButton {
  cursor: pointer;
  border: none;
  background-color: #f7f7f7;
}

#marioButton {
  cursor: pointer;
  border: none;
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
  color: #1c1c1c;
}

a:visited {
  color: #1c1c1c;
}

/********* BOARD *********/
.board {
  width: 100vw;
  height: 85vh;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-template-columns: repeat(7, auto);
}

/********* CELL *********/
.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: lightblue;
}

.cell::after {
  content: '';
  width: var(--mark-size);
  height: var(--mark-size);
  position: absolute;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.cell:first-child {
  border-top-left-radius: 25%;
}

.cell:nth-child(7) {
  border-top-right-radius: 25%;
}

.cell:nth-child(36) {
  border-bottom-left-radius: 25%;
}

.cell:last-child {
  border-bottom-right-radius: 25%;
}

.cell.red::after,
.cell.yellow::after {
  cursor: default;
}

.cell.red::after {
  background-color: red;
}

.cell.yellow::after {
  background-color: yellow;
}

.board.red .cell:not(.red):not(.yellow):hover::after {
  background-color: pink;
}

.board.yellow .cell:not(.red):not(.yellow):hover::after {
  background-color: lightyellow;
}

.cell.winner::before {
  content: '';
  width: calc(var(--mark-size) * 1.2);
  height: calc(var(--mark-size) * 1.2);
  position: absolute;
  background-color: white;
  border-radius: 50%;
}

/********* Winning message screen *********/
.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  justify-content: center;
  color: white;
  align-items: center;
  font-size: 5rem;
  flex-direction: column;
}

.winning-message.show {
  display: flex;
}

#restartButton {
  font-size: 3rem;
  cursor: pointer;
  border: 2px solid black;
  padding: .25em .5em;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

#restartButton:hover {
  background-color: black;
  color: white;
  border-color: white;
}

/********* Media queries *********/
/* width */
@media (max-width: 680px) {
  .navbar-text.oliver {
    display: none;
  }
}

@media (max-width: 577px) {
  :root {
    --cell-size: 60px;
  }
}

@media (max-width: 530px) {
  :root {
    --cell-size: 50px;
  }
}

@media (max-width: 510px) {
  #marioButton {
    display: none;
  }
}

@media (max-width: 400px) {
  .navbar-text {
    display: none;
  }

  .navbar {
    height: 68px;
  }
}

@media (max-width: 390px) {
  :root {
    --cell-size: 40px;
  }

  .navbar {
    display: none;
  }
}

@media (max-width: 295px) {
  :root {
    --cell-size: 30px;
  }

  .navbar {
    display: none;
  }
}

/* height */
@media (max-height: 590px) {
  .navbar {
    display: none;
  }

  .board {
    width: 100vw;
    height: 100vh;
  }

  :root {
    --cell-size: 60px;
  }
}

@media (max-height: 375px) {
  .navbar {
    display: none;
  }

  .board {
    width: 100vw;
    height: 100vh;
  }

  :root {
    --cell-size: 40px;
  }
}